.g_gf_caja{
    background-color: white;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    border-radius: 25px;
    
}

.g_gf_fondo{
    padding-top: 3rem;
    height: 89.5vh;
    padding-bottom: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 3%;
}