.fondo-pantalla-estadodecuenta {
  min-height: 100vh;
  background-image: linear-gradient(
    #ec428c 0%,
    #ec428c 40%,
    #f9c6dd 40%,
    #f9c6dd 100%
  );
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.caja-estadodecuenta {
  background-color: white;
  min-height: 120%;
  min-width: 50%;
  border-radius: 15px;
}
